img{
  border-radius: 50px;
    width: 100%;
    height: 100%;
    display: block;
  
}
.swiper-slide {
  height: auto !important;
}
.swiper-container {
  height: auto !important;
  overflow: hidden !important;
  border-radius: 15px !important;
}

.slide{
  border-radius: 50px;
  height: 100% !important;
}

.swiper-button-next,
.swiper-button-prev {

    right:10px;
    padding: 30px;
    color: #fff !important;
  
}