  .carousel {
    max-width: 550px;
    width: 100%;
  }
  .carousel__main {
    border-radius: 50px;
    max-width: 770px;
    height: 400px;
  }
  
  .demo-item {
    max-width: 770px;
    padding: 500px;
    background-size: 100%;
    
  }
  