@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 500px, $upper-range:1640px) {

    font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
    
    @media screen and (max-width: $lower-range) {
      font-size: $min-font-size;
    }
    @media screen and (min-width: $upper-range){
      font-size: $max-font-size;
    }
  }
  
  /* https://codepen.io/dbox/pen/meaMba */


.explore {
    
    // .explore__container-small

    &__container-small {
        padding-top: 94px;
    }

    // .explore__content

    &__content {
        color: white;
        padding-top: 94px;  
    }

    // .explore__title

    &__title {
        @include fluid-type(30px, 55px);
        text-align: center;
        line-height: 140%;
    }

    // .explore__items

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        row-gap: 70px;
        @media (max-width:1100px) {
            flex-direction: column;
            align-items: center;

        }
    }
}
.items {

    // .items__explore

    &__explore {
        padding-top: 94px;
    }

    // .items__body

    &__body {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #272727;
        border-radius: 50px;
        flex: 1 1 50%;
        @media (max-width:500px) {
            max-width: 350px;
        }
    }

    // .items__img

    &__img {
        width: 100%;
        border-top-left-radius: 50px !important;
        border-top-right-radius: 50px !important;
    }

    // .items__footer

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 45px 30px 45px;
        height: 100%;
        gap: 30px;
    }

    // .items__text

    &__text {
        @include fluid-type(15px, 20px);
        line-height: 161.99%;
        text-align: center;
        margin-bottom: auto;
    }

    // .items__btn

    &__btn {
        cursor: pointer;
        color: black;
        padding: 15px 122px;
        background-color: #fff;
        text-align: center;
        border-radius: 50px;
        @include fluid-type(20px, 35px);
        @media (max-width:500px) {
            padding: 15px 90px;
        }
        transition: all 0.2s ease;
        &:hover{
            transform: scale(0.9);
        }
    }
}


.explore__loading{
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* min-height: 100vh; */
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

:root {
	--c-l-cricle-size: 20px;
	--c-l-cricle-color-primary: #272727;
	--c-l-cricle-color-secondary: #DD6B20;
}

@keyframes l-cricle-animation-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(var(--c-l-cricle-size),0) }
   50%    { opacity: 0; transform: translate(var(--c-l-cricle-size),0) }
  100%    { opacity: 0; transform: translate(0,0) }
}

@keyframes l-cricle-animation {
    0% { transform: translate(0,0) }
   50% { transform: translate(var(--c-l-cricle-size),0) }
  100% { transform: translate(0,0) }
}

.l-cricle {
  width: calc(var(--c-l-cricle-size) * 2);
  height: var(--c-l-cricle-size);
  display: inline-block;
  overflow: hidden;
}

.l-cricle__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.l-cricle__icon {
  position: absolute;
  width: var(--c-l-cricle-size);
  height: var(--c-l-cricle-size);
  border-radius: 50%;
  top: 0px;
  left: 0px;
}

.l-cricle__icon:nth-child(1) {
		background: var(--c-l-cricle-color-secondary);
		animation: l-cricle-animation 1s linear infinite;
		animation-delay: -0.5s;
}

.l-cricle__icon:nth-child(2) {
		background: var(--c-l-cricle-color-primary);
  animation: l-cricle-animation 1s linear infinite;
  animation-delay: 0s;
}

.l-cricle__icon:nth-child(3) {
		background: var(--c-l-cricle-color-secondary);
  animation: l-cricle-animation-o 1s linear infinite;
  animation-delay: -0.5s;
}