@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 300px, $upper-range:1640px) {

    font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
    
    @media screen and (max-width: $lower-range) {
      font-size: $min-font-size;
    }
    @media screen and (min-width: $upper-range){
      font-size: $max-font-size;
    }
  }
  
  /* https://codepen.io/dbox/pen/meaMba */

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }



  .shelter {

    // .shelter__container

    &__container {
        
    }

    // .shelter__container-smaller

    &__container-smaller {
        display: flex;
        padding-top: 47px;
        padding-bottom: 50px;
        flex-direction: column;
       /*  min-height: 100vh; */
        justify-content: center;
    }

    // .shelter__block

    &__block {
        background: #272727;
        border-radius: 50px;
        padding: 35px;
        
    }

    &__content{
        display: flex;
        gap: 40px;
        margin-bottom: 30px;
        justify-content: center;
        @media (max-width:1000px) {
            flex-wrap: wrap;
        }
    }
    // .shelter__slider

    &__slider {
        max-width: 550px;
        /* max-height: 550px; */
        height: auto;
        width: 100%;
        @media (max-width:1000px) {
            max-width: 100%;
        }
    }

    &swiper{
      
    }

    // .shelter__discription

    &__discription {
        position: relative;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        margin: auto 0;
        background: #DD6B20;
        border-radius: 50px;
        padding: 10px 25px;
        font-weight: 600;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        background: url("../../img/Goals1.jpg") 0 0/100% 100%;
        @media (max-width:500px) {
            font-size: 14px;
        }
        &__scan{
           
        }
    }

    // .shelter__link

    &__link {
        color: #272727;
        border-bottom: 2px solid #272727;
        
    }

    // .shelter__footer

    &__footer {
        padding-left: 10px;
        position: relative;
       
    }

    // .shelter__donate

    &__donate {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width:900px) {
            flex-direction: column;
            row-gap: 20px;
            justify-content: center;
        }

    }

    // .shelter__label

    &__label {
        font-weight: 300;
        @include fluid-type(15px, 17px);
    }

    // .shelter__input
    &__input{
        flex: 1 1 550px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-right: auto;
        @media (max-width:1000px) {
            margin-right: 0;
        }
        @media (max-width:900px) {
            flex: auto;
        }
    }


    &__value {
        font-size: 30px;
        border-radius: 50px;
        background-color: #272727;
        background-clip: padding-box;
        border: 1px solid #DD6B20;
        padding-left: 13px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 100%;
        max-width: 400px;
        &:focus{
            outline: none !important;
        }
    }

    // .shelter__mint
    &__btn{
        flex: 0 0 402px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width:900px) {
            align-items: center;
            flex: auto;
            width: 100%;
        }
    }
    &__mint {
        font-weight: 700;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        max-width: 330px;
        width: 100%;
        padding: 13px 40px;
        background-color: #fff;
        color: black;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover{
            transform: scale(0.9);
        }
        @media (max-width:900px) {
            width: 100%;
        }

       
    }
    &__minted {
        padding-right: 10px;
        text-align: center;
        font-weight: 300;
        line-height: 150%;
        @media (max-width:1000px) {
            padding: 0;            
        }
    }
    // .shelter__token

    &__token {
        font-size: 20px;
        margin-left: 11px;
    }
}







.shelter__scan{
    cursor: pointer;
    max-width: 20px;
    max-height: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: all 0.2s ease;
    &:hover{
        transform: scale(0.9);
    }
}