@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 300px, $upper-range:1640px) {

    font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
    
    @media screen and (max-width: $lower-range) {
      font-size: $min-font-size;
    }
    @media screen and (min-width: $upper-range){
      font-size: $max-font-size;
    }
  }
  
  /* https://codepen.io/dbox/pen/meaMba */


  .shelter {

    // .shelter__container

    &__container {
        
    }

    // .shelter__container-smaller

    &__container-smaller {
        display: flex;
        padding-top: 47px;
        padding-bottom: 50px;
        flex-direction: column;
       /*  min-height: 100vh; */
        justify-content: center;
    }

    // .shelter__block

    &__block {
        background: #272727;
        border-radius: 50px;
        padding: 35px;
        
    }

    &__content{
        display: flex;
        gap: 40px;
        margin-bottom: 30px;
       
        @media (max-width:1000px) {
            flex-wrap: wrap;
        }
    }
    // .shelter__slider

    &__slider {
    
        max-width: 550px;
        /* height: auto; */
        @media (max-width:1000px) {
            max-width: 100%;
        }
    }

    &swiper{
      
    }

    // .shelter__discription

    &__discription {
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        margin: auto 0;
        background: #DD6B20;
        border-radius: 50px;
        padding: 10px 25px;
        font-weight: 600;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        background: url("../../img/Goals1.jpg") 0 0/100% 100%;
        @media (max-width:500px) {
            font-size: 14px;
        }
        
    }

    // .shelter__link

    &__link {
        color: #272727;
        border-bottom: 2px solid #272727;
        
    }

    // .shelter__footer

    &__footer {
        padding-left: 10px;
       
    }

    // .shelter__donate

    &__donate {
        display: flex;
        align-items: center;
        
        @media (max-width:900px) {
            flex-direction: column;
            row-gap: 20px;
            justify-content: center;
        }

    }

    // .shelter__label

    &__label {
        font-size: 20px;
        max-width: 300px;
        @include fluid-type(12px, 20px);
        @media (max-width:900px) {
            text-align: center;
            line-height: 150%;
        }
    }

    // .shelter__input
    &__input{
        display: flex;
        align-items: center;
        gap: 40px;
        margin-right: 30px;
    }


    &__value {
        font-size: 30px;
        border-radius: 50px;
        background-color: #272727;
        background-clip: padding-box;
        border: 1px solid #DD6B20;
        padding-left: 13px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        max-width: 250px;
        &:focus{
            outline: none !important;
        }
    }

    // .shelter__mint

    &__mint {
        font-weight: 700;
        font-size: 34px;
        text-align: center;
        
       
        padding: 13px 89px;
        background-color: #fff;
        color: black;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover{
            transform: scale(0.9);
        }
        @media (max-width:900px) {
            width: 100%;
        }
    }

    // .shelter__token

    &__token {
        font-size: 20px;
        margin-left: 11px;
    }
}







