@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 500px, $upper-range:1640px) {

    font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
    
    @media screen and (max-width: $lower-range) {
      font-size: $min-font-size;
    }
    @media screen and (min-width: $upper-range){
      font-size: $max-font-size;
    }
  }
  

// https://codepen.io/dbox/pen/meaMba

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	//text-rendering: optimizeLegibility;
/* 	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
    font-size: 15px;
    font-weight: 700;
    background-color: #1E1E1E;
    height: 2000px;
}
input,
button,
textarea {
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


[class*="__container"] {
	max-width: 1440px;
    width: 100%;
	margin: 0px auto;
    padding: 0 10px;
}



.profile {
	color: white;
	padding-top: 94px;
	// .profile__container

	&__container {
		display: flex;
		gap: 40px;
		@media (max-width:800px) {
			flex-direction: column;
			gap: 47px;
			align-items: center;
		}
	}

	// .profile__card

	&__card {
	}

	// .profile__charity

	&__charity {
	}
}
.card {
	flex: 1 1 auto;
	
	// .card__profile



	// .card__body

	&__body {	
		
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: url('../../img/profilebg.png')0 0/101% 101% #DD6B20 ;
		border-radius: 50px;
		padding: 30px 20px;
		row-gap: 30px;
		@media (max-width:550px){
			padding: 22px 16px;
		}
	}

	// .card__avatar

	&__avatar {	
		border-radius: 50px;
		background-color: #1A1A1A;
		max-width: 300px;
		max-height: 300px;
		width: 100%;
		height: 100%;
		
	}

	// .card__wallet-address

	&__wallet-address {
		@include fluid-type(18px, 40px);

	}

	// .card__scan

	&__scan {
		cursor: pointer;
		padding: 17px 161px;
		background: white;
		color: black;
		border-radius: 50px;
		font-size: 40px;
		@include fluid-type(18px, 30px);
		@media (max-width:1000px){
			padding: 17px 130px;
		}
	}
}

.profile {

	// .profile__charity

	&__charity {
		
	}
}

.profile {

	// .profile__charity

	&__charity {
	}
}
.charity {

	// .charity__profile

	&__profile {
		background-color: #272727;
		border-radius: 50px;
		padding: 39px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		@media (max-width:550px){
			padding: 20px 38px;
		}
	}

	// .charity__donated

	&__donated {
		/* font-size: 150px; */
		font-weight: 400;
		@include fluid-type(40px, 70px);
	}

	// .charity__text1

	&__text {
		@include fluid-type(15px, 20px);
		color: #DD6B20;
		margin-bottom: 10px;
	}

	// .charity__under-text

	&__under-text {
		@include fluid-type(15px, 20px);
	}

	// .charity__line

	&__line {
		height: 5px;
		max-width: 839px;
		width: 100%;
		background-color: #DD6B20;
		border-radius: 50px;
		margin: 15px 0;
		@media (max-width:700px){
			height: 7px;
			margin: 20px 0;
		}
	}

	// .charity__points

	&__points {
		/* font-size: 150px; */
		@include fluid-type(40px, 70px);
	}

	// .charity__discription

	&__discription {
		text-align: left;
		letter-spacing: 0.045em;
		max-width: 839px;
		line-height: 38px;
		@include fluid-type(15px, 20px);
		@media (max-width:925px){
			line-height: normal;
		}
	}
}

.nft {
	
	// .nft__profile

	&__profile {
		
	}

	// .nft__container

	&__container {
		padding-top: 94px;
	}

	// .nft__container-smaller

	&__container-smaller {
		
	}

	// .nft__block
	&__lebel{
		font-size: 45px;
		text-align: center;
		margin-bottom: 47px;
	}
	&__block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 40px;
		
		@media (max-width:660px) {
			align-items: center;
			justify-content: center;
			/* justify-content: space-around; */
		}
		@media (max-width:980px) {
			max-width: 700px;
			margin: 0 auto;
		}
	}

	// .nft__body

	&__body {
		margin: 0 -10px;
		padding: 0 20px;
		@media (max-width:980px) {
			/* flex: 1 0 50%; */
		}
	}

	// .nft__image

	&__image {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		max-width: 300px;
		max-height: 300px;
		width: 100%;
		height: 100%;
	}
	&__foter{
		padding-top: 15px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 17px;
		background: #272727;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		max-width: 300px;

	}
	// .nft__title

	&__title {
		font-weight: 400;
	}

	// .nft__scan

	&__scan {
		cursor: pointer;
		font-size: 15px;
		padding: 7px 18px;
		background-color: #fff;
		border-radius: 50px;
		color: black;
		transition: all 0.3s ease-in-out;
		&:hover{
			background: #a1a09f;
		}
	}

	// .nft__sell

	&__sell {
		cursor: pointer;
		font-size: 15px;
		background: #DD6B20;
		padding: 12px 15px;
		border-radius: 50px;
		transition: all 0.3s ease-in-out;
		&:hover{
			background: #b34b05;
		}
	}
}
