.body {
  white-space: nowrap;
}

[class*=__container] {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
}

[class*=__container-small] {
  max-width: 1260px;
  width: 100%;
  margin: 0px auto;
}

.header {
  white-space: nowrap;
  padding-top: 22px;
}

.header__container {
  padding: 0 10px;
  display: flex;
  text-align: center;
  gap: 30px;
}

.header__block {
  flex: 1 1 1250px;
  display: flex;
  height: 94px;
  background-color: #DD6B20;
  border-radius: 50px;
  align-items: center;
  width: 100%;
  margin-right: auto;
}

.header__icon {
  display: flex;
  flex: 1 1 94px;
  align-items: center;
}

@media (max-width: 1200px) {
  .header__icon {
    /* display: none; */
    flex: 1 1 auto;
  }
}
.header__navigation {
  align-self: center;
}

.header__block-right {
  background-color: #DD6B20;
  border-radius: 50px;
}

.icon__img {
  cursor: pointer;
}

.icon__title {
  cursor: pointer;
  font-size: calc(30px + 25 * (100vw - 1300px) / 340);
}

@media screen and (max-width: 1300px) {
  .icon__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1640px) {
  .icon__title {
    font-size: 55px;
  }
}
@media (max-width: 1200px) {
  .icon__title {
    display: none;
    cursor: none;
  }
}
.navigation__items {
  display: flex;
  padding-right: 40px;
  gap: 40px;
}

.navigation__item {
  cursor: pointer;
  background-color: #272727;
  border-radius: 50px;
  padding: 15px 46px;
  transition: all 0.2s ease;
}

.navigation__item:hover {
  transform: scale(0.9);
}

.right-block {
  flex: 0 0 360px;
}

.right-block__header {
  display: flex;
  align-items: center;
}

.right-block__navigation-items {
  display: flex;
  padding: 0 20px;
  gap: 30px;
}

.right-block__navigation-item {
  flex: 0 1 147px;
  cursor: pointer;
  background-color: #272727;
  border-radius: 50px;
  padding: 15px 18px;
  transition: all 0.2s ease;
}

.right-block__navigation-item:hover {
  transform: scale(0.9);
}

.navigation__item-scan {
  background: url("../../img/scan.svg") no-repeat center #272727;
  padding: 12px 30px;
  /* max-width: 60px; */
}

@media (max-width: 1000px) {
  .header__container {
    justify-content: flex-start;
  }
  .header__block {
    max-width: 188px;
    justify-content: flex-start;
  }
  .navigation__items {
    display: none;
  }
  .right-block__navigation-items {
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
  }
  .right-block__navigation-item {
    flex: 0 0 auto;
    font-size: 13px;
  }
}