@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100% !important;
  margin: 0;
  background-color: #1E1E1E !important;
}

body {
  line-height: 1;
  font-family: Roboto;
  font-weight: 600;
  font-size: 15px;
  height: 1px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=__container] {
  max-width: 1260px;
    width: 100%;
    margin: 0px auto;
  }
  [class*=__container-small] {
    max-width: 1260px;
    width: 100%;
    margin: 0px auto;
  }
  [class*=__container-smaller] {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
  }  



.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.main{
  flex: 1;
 padding-bottom: 94px;
}