.footer {
  height: auto;
  padding-bottom: 10px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__upper {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
}
.footer__line {
  background-color: #DD6B20;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  height: 3px;
  border-radius: 50px;
}
.upper__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1000px) {
  .upper__footer {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.upper__social {
  /* margin-right: auto; */
  align-self: flex-end;
}
@media (max-width: 1000px) {
  .upper__social {
    margin: 0 auto;
  }
}
.upper__icons {
  display: flex !important;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.upper__image {
  width: 43px;
  height: 43px;
  transition: all 0.2s ease;
}
.upper__image:hover {
  transform: scale(0.9);
}
.upper__image-discord {
  width: 55px;
  height: 55px;
}
.upper__image-medium {
  width: 69px;
  height: 69px;
}
.links__items {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1120px) {
  .links__items {
    flex-wrap: wrap;
  }
}
.links__item {
  font-size: calc(12px + 8 * ( (100vw - 400px) / 860));
  padding: 15px 47px;
  background: #272727;
  border-radius: 50px;
  text-align: center;
  transition: all 0.2s ease;
}
@media screen and (max-width: 400px) {
  .links__item {
    font-size: 12px;
  }
}
@media screen and (min-width: 1260px) {
  .links__item {
    font-size: 20px;
  }
}
.links__item:hover {
  transform: scale(0.9);
}
@media (max-width: 1120px) {
  .links__item {
    flex: 1 1 auto;
  }
}
@media (max-width: 650px) {
  .links__item {
    padding: 15px 30px;
  }
}
@media (max-width: 470px) {
  .links__item {
    font-size: 12px;
    /*  flex: 0 1 auto; */
    padding: 15px 23px;
    width: 100%;
  }
}

.bottom__footer {
  display: flex;
  justify-content: space-between;
}
.bottom__text {
  font-size: calc(10px + 5 * ( (100vw - 400px) / 860));
}
@media screen and (max-width: 400px) {
  .bottom__text {
    font-size: 10px;
  }
}
@media screen and (min-width: 1260px) {
  .bottom__text {
    font-size: 15px;
  }
}